@tailwind base;
@tailwind components;
@tailwind utilities;


.headerContainer{
  background-color: darkblue;
  color: azure;
}

.header-buttons{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: right;
  text-indent: 30px;
  padding: 10px;
  font-weight: bolder;
}
h1{
  font-size:x-large;
  font-weight: bolder;
  color: blue;
}
.tessori{
margin-top: 15%;

}



